
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-basket-circled:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */